<?xml version='1.0' encoding='utf-8'?>
<widget id="com.monapp.html" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Second Life Calculateur</name>
    <description>Application de calcul de prix Second Life.</description>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="34" />
</widget>
