name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Cordova
      run: npm install -g cordova

    - name: Create Cordova project
      run: |
        cordova create app com.monapp.html MonApp
        cp -r www/* app/www/
        cp config.xml app/config.xml
      shell: bash

    - name: Add Android Platform
      run: |
        cd app
        cordova platform add android
      shell: bash

    - name: Build Android APK
      run: |
        cd app
        cordova build android --debug
      shell: bash

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: android-apk
        path: app/platforms/android/app/build/outputs/apk/debug/*.apk
